* {
    margin: 0;
    padding: 0;
}
head,body {
    border: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: white;
    #board-content {
        background-color: rgb(223, 205, 205);
        width: 100%;
        height: 1500px;
    }
    .nav-bar {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 50px;
        background:#E2E2E2;
        justify-content: space-between;

        .left-nav {
            position: relative;
            left: 70px;
            bottom: 0%;
            width: 85%;

            .board-tab {
                color:#707070;
                position: relative;
                top: 25px;

                .tab-clicked {
                    font-size: 15px;
                    color:#707070;
                    border: none;
                    background-color: white;
                    padding-left: 35px;
                    padding-right: 35px;
                    padding-top: 5px;
                    padding-bottom: 3px;
                    border-top-right-radius: 9px;
                    border-top-left-radius: 9px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    -webkit-transition-duration: 0.4s;
                    transition-duration: 0.4s;
                    cursor: pointer;
                }
                .tab {
                    font-size: 15px;
                    background-color: #E2E2E2;
                    border: none;
                    padding-left: 35px;
                    padding-right: 35px;
                    padding-top: 5px;
                    padding-bottom: 3px;
                    border-top-right-radius: 9px;
                    border-top-left-radius: 9px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    -webkit-transition-duration: 0.4s;
                    transition-duration: 0.4s;
                    cursor: pointer;
                }
            }
        }
        .right-nav {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between ;
            top: 10px;
            position: relative;
            width: 15%;
            position: relative;
            justify-content: flex-end;
            right: 0%;
            left: 3%;
            text-align: center;
            text-decoration: none;

            .add-note {
                position: relative;
                height:60%;
                width:14%;
                font-size: 17px;
                align-content: center;
                color: white;
                background-color: #F65151;
                border-radius: 50px;
                margin-left: 12px;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
                cursor: pointer;
            }
            .add-note:hover {
                background-color: white;
                color: #F65151;
            }
            .add-board {
                font-size: 13px;
                color:white;
                border: none;
                height: 60%;
                background-color:black;
                padding-left: 25px;
                padding-right: 25px;
                border-radius: 50px;
                text-align: center;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
                cursor: pointer;
            }
            .add-board:hover {
                color: black;
                background-color: white;
            }
        }
    }
}
.board-content-root {
    width: auto;
    height: 1000px;
    position: relative;
    .board-editor {
        position: absolute;
        top: 0px;
        height: 80px;
        width: 40px;
        left: 96.4%;
        .edit-board {
            position: relative;
            top: 10px;
            height: 40px;
            width: 40px;
            border-radius: 50px;
            background-color:white;
            filter: invert(100%);
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
        }
        .delete-board {
            position: relative;
            left: 2.4%;
            top: 13px;
            height: 33px;
            width:33px;
            border-radius: 50px;
            background-color:white;
            border:2px solid white;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
        }
        .delete-board:hover {
            filter: invert(100%);
        }
        .edit-board:hover {
            filter: invert(0%);
        }
    }
    .board-content {
        width: auto;
        height: 1000px;
    }
    .note-tile {
        position: absolute;
        width: 250px;
        height: 224px;
        background: #EFEFEF;
        box-shadow: 0px 0px 12px #EFEFEF;
        border: solid 1px #00000000;
        .note-content-p {
            max-width: 84%;
            width: 84%;
            height: 160px;
            font-size: 20px;
            color: #707070;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 10px;
            border: 0px;
            background: transparent;
            resize: none;
        }
        &:hover {
            border: solid 1px #000000;
            .note-tile-bottom-bar {
                display: flex;
            }
        }
        .note-tile-bottom-bar {
            position: relative;
            width: 100%;
            height: 30px;
            bottom: 0;
            display: none;
            flex-direction: row;
            .note-remove-button-root {
                position: relative;
                right: 0px;
                left: 27px;
                .note-remove-button {
                    cursor: pointer;
                    width: 23px;
                    height: 23px;
                    background: red;
                    border-radius: 12px;
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: bold;
                    display:flex;
                    margin-right:4px ;
                    justify-content:center;
                    align-items:center;
                    -webkit-transition-duration: 0.4s;
                    transition-duration: 0.4s;
                    &:hover, &:focus {
                        color: #444444;
                        border: 1.5px solid black;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
            .color-list {
                position: relative;
                width: 69%;
                height: 30px;
                left: 27px;
                display: flex;
                flex-direction: row;
                .note-color {
                    width: 23px;
                    height: 23px;
                    border: 1px solid #707070;
                    border-radius: 12px;
                    margin-right: 8px;
                    -webkit-transition-duration: 0.4s;
                    transition-duration: 0.4s;
                    &:hover, &:focus {
                        border: 1.5px solid black;
                        cursor: pointer;
                    }
                }
                .grey {
                    background-color: #EFEFEF;
                }
                .pink {
                    background-color: #FEAEAE;
                }
                .green {
                    background-color: #CDFCB6;
                }
                .blue {
                    background-color: #B6D7FC;
                }
            }
        }
    }
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    .close-container {
        background: black;
        width: 57px;
        height: 57px;
        border-radius: 50%;
        display:flex;
        justify-content:center;
        align-items:center;
        .close {
            cursor: pointer;
            color: #aaaaaa;
            font-size: 28px;
            font-weight: bold;
            &:hover, &:focus {
                color: #FFF;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 50%;
        border-radius: 20px;
        .board-information {
            margin: auto;
            padding: 100px 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 60%;
            span {
                font: 14px 'Segoe UI';
                font-weight: bold;
                color: black;
                    #board-name-pop-up {
                        width: 200px;
                        font: 14px 'Segoe UI';
                        color: black;
                        padding: 5px;
                        margin: 5px;
                    }
                    #board-color-pop-up {
                        width: 200px;
                        font: 14px 'Segoe UI';
                        color: black;
                        padding: 0px;
                        border: none;
                        margin: 10px;
                    }
            }
            hr {
                width: 100%;
                margin: 20px;
            }
            button {
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }
            .delete-btn {
                    background-color: #FF4A4A;
            }
            .save-btn {
                background-color: #2D89E6;
            }
            .cancel-btn {
                background-color: #484848;
            }
        }
    }
}
