* {
  margin: 0;
  padding: 0;
  outline:none;
}

head, body {
  border: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.flex-container #board-content {
  background-color: #dfcdcd;
  width: 100%;
  height: 1500px;
}

.flex-container .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 100%;
  height: 50px;
  background: #E2E2E2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-container .nav-bar .left-nav {
  position: relative;
  left: 70px;
  bottom: 0%;
  width: 80%;
}

.flex-container .nav-bar .left-nav .board-tab {
  color: #707070;
  position: relative;
  top: 25px;
}

.flex-container .nav-bar .left-nav .board-tab .tab-clicked {
  font-size: 15px;
  color: #707070;
  border: none;
  background-color: white;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 3px;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.flex-container .nav-bar .left-nav .board-tab .tab {
  font-size: 15px;
  background-color: #E2E2E2;
  border: none;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 3px;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.flex-container .nav-bar .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 10px;
  position: relative;
  left: 30%;
  width: 80%;
  margin-left: 250px;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 0%;
  text-align: center;
  text-decoration: none;
}

.flex-container .nav-bar .right-nav .add-note {
  position: relative;
  max-width: 100%;
  height: 60%;
  width: 5%;
  background-color: white;
  border-radius: 80px;
  margin-left: 10px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.flex-container .nav-bar .right-nav .add-note:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.flex-container .nav-bar .right-nav .add-board {
  font-size: 13px;
  color: white;
  border: none;
  height: 60%;
  background-color: black;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.flex-container .nav-bar .right-nav .add-board:hover {
  color: black;
  background-color: white;
}

.board-content-root {
  width: auto;
  height: 1000px;
  position: relative;
}

.board-content-root .board-editor {
  position: absolute;
  top: 0px;
  height: 80px;
  width: 40px;
  left: 96.4%;
}

.board-content-root .board-editor .edit-board {
  position: relative;
  top: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.board-content-root .board-editor .delete-board {
  position: relative;
  left: 2.91%;
  top: 10px;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background-color: white;
  border: 1.3px solid black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.board-content-root .board-editor .delete-board:hover, .board-content-root .board-editor .edit-board:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.board-content-root .board-content {
  width: auto;
  height: 1000px;
}

.board-content-root .note-tile {
  position: absolute;
  width: 250px;
  height: 224px;
  background: #EFEFEF;
  -webkit-box-shadow: 3px 3px 5px #EFEFEF;
          box-shadow: 3px 3px 5px #EFEFEF;
  border: solid 1px #00000000;
}

.board-content-root .note-tile .note-content-p {
  max-width: 84%;
  width: 84%;
  height: 160px;
  font-size: 20px;
  color: #707070;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 0px;
  background: transparent;
  resize: none;
}

.board-content-root .note-tile:hover {
  border: solid 1px #000000;
}

.board-content-root .note-tile:hover .note-tile-bottom-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.board-content-root .note-tile .note-tile-bottom-bar {
  position: relative;
  width: 100%;
  height: 30px;
  bottom: 0;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.board-content-root .note-tile .note-tile-bottom-bar .note-remove-button-root {
  position: relative;
  right: 0px;
  left: 27px;
}

.board-content-root .note-tile .note-tile-bottom-bar .note-remove-button-root .note-remove-button {
  cursor: pointer;
  width: 23px;
  height: 23px;
  background: red;
  border-radius: 12px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.board-content-root .note-tile .note-tile-bottom-bar .note-remove-button-root .note-remove-button:hover, .board-content-root .note-tile .note-tile-bottom-bar .note-remove-button-root .note-remove-button:focus {
  color: #444444;
  border: 1.5px solid black;
  text-decoration: none;
  cursor: pointer;
}

.board-content-root .note-tile .note-tile-bottom-bar .color-list {
  position: relative;
  width: 69%;
  height: 30px;
  left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.board-content-root .note-tile .note-tile-bottom-bar .color-list .note-color {
  width: 23px;
  height: 23px;
  border: 1px solid #707070;
  border-radius: 12px;
  margin-right: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.board-content-root .note-tile .note-tile-bottom-bar .color-list .note-color:hover, .board-content-root .note-tile .note-tile-bottom-bar .color-list .note-color:focus {
  border: 1.5px solid black;
  cursor: pointer;
}

.board-content-root .note-tile .note-tile-bottom-bar .color-list .grey {
  background-color: #EFEFEF;
}

.board-content-root .note-tile .note-tile-bottom-bar .color-list .pink {
  background-color: #FEAEAE;
}

.board-content-root .note-tile .note-tile-bottom-bar .color-list .green {
  background-color: #CDFCB6;
}

.board-content-root .note-tile .note-tile-bottom-bar .color-list .blue {
  background-color: #B6D7FC;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .close-container {
  background: black;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .close-container .close {
  cursor: pointer;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.modal .close-container .close:hover, .modal .close-container .close:focus {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
  border-radius: 20px;
}

.modal .modal-content .board-information {
  margin: auto;
  padding: 100px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.modal .modal-content .board-information span {
  font: 14px 'Segoe UI';
  font-weight: bold;
  color: black;
}

.modal .modal-content .board-information span #board-name-pop-up {
  width: 200px;
  font: 14px 'Segoe UI';
  color: black;
  padding: 5px;
  margin: 5px;
}

.modal .modal-content .board-information span #board-color-pop-up {
  width: 200px;
  font: 14px 'Segoe UI';
  color: black;
  padding: 0px;
  border: none;
  margin: 10px;
}

.modal .modal-content .board-information hr {
  width: 100%;
  margin: 20px;
}

.modal .modal-content .board-information button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.modal .modal-content .board-information .delete-btn {
  background-color: #FF4A4A;
}

.modal .modal-content .board-information .save-btn {
  background-color: #2D89E6;
}

.modal .modal-content .board-information .cancel-btn {
  background-color: #484848;
}
/*# sourceMappingURL=style.css.map */